In [7]:

import pandas as pd

In [8]:
dtypes = {
    
}

masses = pd.read_table(
    'McConnachie_masses.txt',
    delimiter='\t',
    skip_blank_lines=True,
    skiprows=1
).drop(range(0, 2))

masses

,Galaxy,M_sstarf,sigma*,delta sigma*,v*_r,delta v*r,M_H I,sigma^H I,delta sigma^H I,v^H I_r,delta v^H I_r,M_dyn(<or= r_h),References^a,Comments,Unnamed: 14
2,Canis Major,49,20.0,3.0,...,...,...,...,...,...,...,...,(1),H I measurements complex due to location!,NaN
3,Sagittarius dSph,21,11.4,0.7,NaN,NaN,N/A^b,NaN,NaN,NaN,NaN,190,(2) (3) (4) (5),NaN,NaN
4,Segue (I),0.00034,3.9^c,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.26,(6) (5),Stellar velocity gradient constrained to <5 km...,NaN
5,Ursa Major II,0.0041,6.7,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.9,(7) (5),Velocity difference of 8.4 +or- 1.4 km s^-1 be...,NaN
6,Bootes II,0.0010,10.5,7.4,...,...,NaN,NaN,NaN,NaN,NaN,3.3,(8) (5),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,IC 4662,190,...,...,...,...,180,...,...,...,...,...,(45),H I line widths available in Koribalski et al....,NaN
99,DDO 190,51,...,...,...,...,43,10.0,2.4,24.7,2.5,...,(71) (72),H I rotational velocity measured at r = 1.5 ar...,NaN
100,KKH 86,0.82,...,...,...,...,0.88,...,...,...,...,...,(74),H I line widths available in Karachentsev et a...,NaN
101,NGC 4163,37,...,...,...,...,7.9,<7.4,NaN,8.7:,NaN,...,(75),NaN,NaN
102,DDO 113,2.1,...,...,...,...,48^k,...,...,...,...,...,(76),H I,NaN

In [9]:
sizes = pd.read_table(
    'McConnachie_sizes.txt',
    delimiter='\t',
    skiprows=5,
    skip_blank_lines=True,
).drop(range(0, 2))

sizes

,Galaxy,V,Unnamed: 2,r_h,Unnamed: 4,mu_V,Unnamed: 6,theta,Unnamed: 8,epsilon,Unnamed: 10,M_V,Unnamed: 12,r_h.1,Unnamed: 14,mu_eff,References^a,Comments,Unnamed: 18
2,Canis Major,-0.1,0.8,...,...,24.0^b,0.6,123:^c,NaN,0.8:,NaN,-14.4^d,0.8,...,...,...,(1) (2),NaN,NaN
3,Sagittarius dSph,3.6,0.3,342.00,12.00,25.2,0.3,102,2,0.64,0.02,-13.5,0.3,2587,219,26.0,(3) (4),NaN,NaN
4,Segue,15.3,0.8,4.40,^+1.2_-0.6,27.6,1.0,85,8,0.48,0.13,-1.5,0.8,29,^+8_-5,28.7,(5),NaN,NaN
5,Ursa Major II,13.3,0.5,16.00,1.00,27.9,0.6,98,4,0.63,0.05,-4.2,0.6,149,21,29.1,(5),NaN,NaN
6,Bootes II,15.4,0.9,4.20,1.40,28.1,1.6,145,55,0.21,0.21,-2.7,0.9,51,17,29.1,(5),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,IC 4662,11.1,0.3,0.48,0.05,18.7,0.2,-69,4,0.27,0.01,-15.8,0.3,341,44,20.1,(36) (38),NaN,NaN
99,DDO 190,12.8,0.1,0.64,0.06,21.4,0.2,82,5,0.10,0.02,-14.4,0.1,520,49,22.6,(45) (36),NaN,NaN
100,KKH 86,17.1,0.3,0.28,0.03,23.2,0.2,-3,1,0.39,0.01,-10.0,0.3,210,27,24.7,(36) (38),NaN,NaN
101,NGC 4163,13.2,0.3,0.45,0.05,21.1,0.2,11,2,0.30,0.05,-14.1,0.3,374,42,22.0,(43) (36),NaN,NaN
102,DDO 113,16.4,0.3,0.70,0.07,24.0,0.2,0:,NaN,0.00,0.09,-11.0,0.3,601,62,26.5,(8) (36),NaN,NaN

In [10]:
sizes[masses['Galaxy'] != sizes['Galaxy']]

,Galaxy,V,Unnamed: 2,r_h,Unnamed: 4,mu_V,Unnamed: 6,theta,Unnamed: 8,epsilon,Unnamed: 10,M_V,Unnamed: 12,r_h.1,Unnamed: 14,mu_eff,References^a,Comments,Unnamed: 18
4,Segue,15.3,0.8,4.40,^+1.2_-0.6,27.6,1.0,85,8,0.48,0.13,-1.5,0.8,29,^+8_-5,28.7,(5),NaN,NaN
13,Bootes,12.8,0.2,12.60,1.00,27.5,0.3,14,6,0.39,0.06,-6.3,0.2,242,21,28.7,(5),NaN,NaN
17,Sextans,10.4,0.5,27.80,1.20,27.1,0.5,56,5,0.35,0.05,-9.3,0.5,695,44,28.0,(9),NaN,NaN
18,Ursa Major,14.4,0.3,11.30,1.70,27.7,0.5,71,3,0.80,0.04,-5.5,0.3,319,50,28.8,(5),NaN,NaN
26,Canes Venatici,13.1,0.2,8.90,0.40,27.1,0.2,70,4,0.39,0.03,-8.6,0.2,564,36,28.2,(5),NaN,NaN
35,Andromeda XXVII^h,16.7,0.5,1.80,0.30,27.6,0.5,150,10,0.40,0.20,-7.9,0.5,434,76,28.3,(17),NaN,NaN

In [11]:
masses[masses['Galaxy'] != sizes['Galaxy']]

,Galaxy,M_sstarf,sigma*,delta sigma*,v*_r,delta v*r,M_H I,sigma^H I,delta sigma^H I,v^H I_r,delta v^H I_r,M_dyn(<or= r_h),References^a,Comments,Unnamed: 14
4,Segue (I),0.00034,3.9^c,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.26,(6) (5),Stellar velocity gradient constrained to <5 km...,NaN
13,Bootes (I),0.029,2.4,^+0.9_-0.5,...,...,NaN,NaN,NaN,NaN,NaN,0.81,(17) (5),Stellar velocity dispersion corresponds to dom...,NaN
17,Sextans (I),0.44,7.9,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,(21) (22) (5),NaN,NaN
18,Ursa Major (I),0.014,7.6,1.0,...,...,NaN,NaN,NaN,NaN,NaN,11,(7) (5),NaN,NaN
26,Canes Venatici (I),0.23,7.6,0.4,...,...,NaN,NaN,NaN,NaN,NaN,19,(7) (5),NaN,NaN
35,Andromeda XXVII,0.12,...,...,...,...,...,...,...,...,...,...,NaN,NaN,NaN

In [12]:
data:pd.DataFrame = sizes.loc[:, ('Galaxy', 'r_h.1')].merge(masses.loc[:, ('Galaxy', 'M_sstarf')], how='outer', copy=True, left_index=True, right_index=True)

In [13]:
dat = data.copy()

dat['M_sstarf'] = data['M_sstarf'].apply(pd.to_numeric, errors='coerce')

dat['M_stars'] = dat['M_sstarf'] * 1e6 # solar masses

dat['r_h.1'] = data['r_h.1'].apply(pd.to_numeric, errors='coerce')

dat.dropna(inplace=True)
dat.dtypes

Galaxy_x     object
r_h.1       float64
Galaxy_y     object
M_sstarf    float64
M_stars     float64
dtype: object

In [14]:
dat.to_pickle('mcconnachie_data.pickle')